/* Colors */
:root {
    --color-dark-cyan: hsl(158, 36%, 37%);
    --color-cream: hsl(30, 38%, 92%);

    --color-dark-blue: hsl(212, 21%, 14%);
    --color-greyish-blue: hsl(228, 12%, 48%);
    --color-white: hsl(0, 0%, 100%);
  }