
.button {
    margin: 1em 0;
    width: 100%;
    padding: .8rem 0;
    border-radius: 9px;
    border: none;
    font-weight: 700;
    cursor: pointer;

    
    color: var(--color-white);
    background-color: var(--color-dark-cyan);

    display: flex;
    gap: 2ch;
    justify-content: center;

    transition: all 0.3s;
}

.button:hover {
    background-color: var(--color-deep-aquamarine);
}

@media (width > 45em) {
    .button {
        margin: 2em 0 0 0;
    }
}